@{
    ViewData["Title"] = "Home Page";
}

<h2>Teste de utilização do atributo ResponseCache</h2>
<h3>
    <b>Horário de última atualização da View:</b><br />
    @DateTime.Now.ToString("HH:mm:ss")
</h3>