@{
    ViewData["Title"] = "Home Page";
}

<h2>Testes envolvendo o uso de configurações no ASP.NET Core 2.0</h2>
<div style="font-size: 20px; height: 150px;">
    <b>Configuracao1: </b> @ViewData["Config1"]
    <br />
    <b>Configuracao2: </b> @ViewData["Config2"]
</div>