@{
    ViewData["Title"] = "Home Page";
}

<h2>Exemplo de utilização de uma Tag Helper customizada</h2>
<br />
<p style="font-size: 22px;">
    <a href="http://asp.net" confirmation-message="Deseja realmente sair deste site?">
        Site oficial do ASP.NET
    </a>
</p>